/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400italic);

/* Header Navbar */
	#navbar {
		background: #520D10;
		padding-left: 5%;
		border-bottom: .5em solid #363935;
	}

	.container a {
		border-radius: 1em;
		background-color: #f3fbf0;
		border: 3px solid #6E3B2F;
		padding: .5em;
		
	}

	.container a:hover {
		background-color: #203763;
		color: black;
		text-decoration: none;
		-moz-transition: all .4s ease-in;
	    -o-transition: all .4s ease-in;
	    -webkit-transition: all .2s ease-in;
	    transition: all .4s ease-in;
	}

/* Main body styling */
	#headShot {
		border: .3em solid #6E3B2F;
		border-radius: 5em;
		content:url("images/headshot.jpg");
		height: 10em;
		width: 10em;
		position: relative;
		left: 45%;
		top: 3em;
	}​

	#about {
		padding-top: 10em;
	}

/* Font formatting/styling */
	p {
		font-family: 'PT Serif', serif;
		padding-left: 2%;
		padding-right: 2%
	}

	p, .headLead {
		color: #363935;
		font-family: 'PT Serif', serif;
		padding-left: 2%;
	}

	.container a, li a, .projectBlurb {
		color: #363935;
		font-family: 'PT Serif', serif;
	}

/* body color */
	#allThings {
		background-color: #E3E3D8;
		padding: 5%;
	}

/* number removal */
	#contactMeList {
		list-style: none;
		padding-left: 0;
	}


/* Project Styling Section */
	.projectTab {
		height: 30%;
		width: 30%;
		text-align: center;
		padding: 1em;
		margin-left: 1em;
		float: left;
	}

	.projectImages {
		height: 80%;
		width: 100%;
		border: .3em solid #6E3B2F;
		border-radius: .5em;
	}

	.projectText {
		padding-top: .5em;
	}
/* text BG */
	#whiteBox {
		background-color: #f3fbf0;
		height: 70%;
		width: 100%;
		border-radius: 1em;
		padding-bottom: 3em;
	}

/* line breaker project to work */
	#breaker {
		clear: left;
	}

/* Work Styling Section */
	#work {
		overflow: hidden;
	}