/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400italic);

/* Header Navbar */
	#navbar {
		background: orange;
		padding-left: 5%;
	}

	.container a {
		border-radius: 1.5em;
		border: 1px solid white;
		color: black;
		padding: .5em;
	}

	.container a:hover {
		background-color: yellow;
		color: black;
		text-decoration: none;
		-moz-transition: all .4s ease-in;
	    -o-transition: all .4s ease-in;
	    -webkit-transition: all .2s ease-in;
	    transition: all .4s ease-in;
	}

	.container a:hover {

	}

/* Main body styling */
	#headShot {
		background-color: #E6F0FF;
		border-color: white;
		border-style: solid;
		border-radius: 5em;
		border-width: 3px;
		content:url("images/headshot.jpg");
		height: 10em;
		width: 10em;
		position: relative;
		left: 45%;
		top: 3em;
	}​

	p, a, h3 {
		font-family: 'PT Serif', serif;
	}

	p {
		padding-left: 1%;
	}

	body {
		padding: 5%;
	}


	#contactMeList {
		list-style: none;
		padding-left: 0;
	}


/* Project Styling Section */
	.projectTab {
		height: 30%;
		width: 30%;
		text-align: center;
		padding: 1em;
		padding-bottom: 10em;
	}
	.projectImages {
		height: 80%;
		width: 100%;
		padding-bottom: 1em;
	}

	#tictactoe {
		float: left;
		display: inline-block;
	}

	#appetite {
		float: left;
		display: inline-block;
	}

	#hangman {
		float: left;
		display: inline-block;
	}

/* Work Styling Section */
	#work {
		
	}