/* Overarching body style*/
	html, body {
		height: 100%;
	}

	body {
		background-color: #f4eee3;
		color: #2e3133;
		line-height: 1.3;
	}

	hr {
		display: block;
		height: 3px;
		border: 0;
		padding: 0;
		background-image: -webkit-linear-gradient(left, #f4eee3, #e86e73, #f4eee3);
		background-image: -moz-linear-gradient(left, #f4eee3, #e86e73, #f4eee3);
		background-image: -ms-linear-gradient(left, #f4eee3, #e86e73, #f4eee3);
		background-image: -o-linear-gradient(left, #f4eee3, #e86e73, #f4eee3);
		width: 75%;
		border: none;
	}

/* Navigation styling */
	.navbar-default {
		background-color: #e86e73;
		padding: 12px 0;
		box-shadow: 0 0 3px #2e3133;
		font-weight: 500;
	}
	#tabTagline, #tabHeadLine, #icons ul li a {
		color: white;
		line-height: 1.3;
	}

		#icons ul li a {
			font-size: 125%;
			display: inline-block;
		}

	/* Name navigation styling */
	.navbar-brand {
		padding-bottom: 0;
	}
	.navbar-header {
		color: #2e3133;
	}

/* About Me Styling */
	#about {
		padding-top: 100px;
	}

	#about img {
		margin-top: 0;
		width: 60%;
		position: relative;
		left: 10%;
	}

	/* number removal */
	#contactMeList {
		list-style: none;
		padding-left: 0;
	}

		#contactMeList a {
			text-decoration: underline;
			color: #5C6267;
		}

/* Project Styling Section */
	.projectImages {
		width: 60%;
		margin: 0 auto;
    	padding-top: 2em;
    	position: relative;
    	left: 50em;
	}

	.carousel-caption {
		position: relative;
		color: #2e3133;
		top: 1em;
		max-width: 60%;
		background-color: #fbf9f5;
		z-index: -1;
		padding-left: .5em;
		padding-right: .5em;
		padding-bottom: 1em;
		border-radius: 5em;
	}

	.carousel-caption a {
		text-decoration: underline;
		color: #2e3133;
	}

	.carousel-control.right, .carousel-control.left {
		background-image: none;
		top: 8em;
	}

	.carousel-control {
		background-color: #fbf9f5;
		color: #2e3133;
		border-radius: 1em;
		height: 10%;
		width: 10%;
	}

	.carousel-indicators {
		position: relative;
		bottom: 5%;
	}

/* Work Experience Styling */
	#jungleAnimateWrap, #woodAnimateWrap, 
	#krogerAnimateWrap, #universityAnimateWrap {
		background-color: #31A9B7;
		height: 300%;
		border-radius: 1em;
		color: white;
		padding: 1em;
		margin: 1em;
		border: 0;
		/* How pronounced should the 3D effects be */
			perspective: 800px;
			-webkit-perspective: 800px;
	}

		#jungleIconHolder, #woodIconHolder, 
		#krogerIconHolder, #universityIconHolder {
			color: white;
			border-radius: 50%;
			padding: .2em;
			font-size: 800%;
			position: absolute;
			left: 35%;
		}

		#woodIconHolder, #krogerIconHolder {
			font-size: 625%
		}


			#jungleIconHolder, #jungleBack, 
			#woodIconHolder, #woodBack, 
			#krogerIconHolder, #krogerBack,
			#universityIconHolder, #universityBack {
				/* Enable 3D transforms */
					transform-style: preserve-3d;
					-webkit-transform-style: preserve-3d;

				/* We are using two separate divs for the front and back of the
				   phone. This will hide the divs when they are flipped, so that the
				   opposite side can be seen:  */
					backface-visibility: hidden;
					-webkit-backface-visibility: hidden;

				/* Animate the transitions */
					transition:0.8s;
			}

			#jungleBack, #woodBack, #krogerBack, #universityBack {
				/* The back side is flipped 180 deg by default */
				transform:rotateY(180deg);
				-webkit-transform:rotateY(180deg);

				background-position:right center;
			}

			#jungleAnimateWrap:hover #jungleIconHolder, 
			#woodAnimateWrap:hover #woodIconHolder, 
			#krogerAnimateWrap:hover #krogerIconHolder, 
			#universityAnimateWrap:hover #universityIconHolder {
				/* When the container is hovered, flip the front side and hide it .. */
				transform:rotateY(180deg);
				-webkit-transform:rotateY(180deg);
			}

			#jungleAnimateWrap:hover #jungleBack, 
			#woodAnimateWrap:hover #woodBack, 
			#krogerAnimateWrap:hover #krogerBack, 
			#universityAnimateWrap:hover #universityBack {
				/* .. at the same time flip the back side into visibility */
				transform:rotateY(360deg);
				-webkit-transform:rotateY(360deg);
			}


		.workContainer h3, .workContainer p {
			font-size: 75%;
			max-width: 80%;
	   		position: relative;
	   		left: 10%;
		}

/* Travel Experience */
	/* Slider structure bits */
		#ItalySlider, #GermanySlider {
			display: inline;
			margin-bottom: 0;
			padding-bottom: 0;
		}
		#ItalySlider img {
			max-height: 500px;
			box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
			border: 5px solid #eaeaea;
		}

		#GermanySlider img {
			max-width: 400px;
			box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
			border: 5px solid #eaeaea;
		}

		/* Hide all the elements outside the view */
			#ItalySlider #mask {
				overflow: hidden;
				height: 500px;
			}

			#GermanySlider #mask {
				overflow: hidden;
				width: 400px;
			}
		/* Places the images outside of view */

		#ItalySlider ul, #GermanySlider ul {
			margin: 0;
			padding: 0;
			position: relative;
		}

		#ItalySlider li {
		   width: 279px;  /* Width Image */
		   height: 500px; /* Height Image */
		   position: absolute;
		   top: -100px; /* Original Position - Outside of the Slider */
		   list-style: none;
		}

		#GermanySlider li {
		   width: 500px;  /* Width Image */
		   height: 375px; /* Height Image */
		   position: absolute;
		   top: -375px; /* Original Position - Outside of the Slider */
		   list-style: none;
		}
			#ItalySlider {
				animation-name: move;
				animation-duration: 1s;
				animation-timing-function: ease-in-out;
				animation-delay: 0.5s;
				animation-iteration-count: 2;
				animation-direction: alternate;

				-moz-animation-name: move;
				-moz-animation-duration: 1s;
				-moz-animation-timing-function: ease-in-out;
				-moz-animation-delay: 0.5s;
				-moz-animation-iteration-count: 2;
				-moz-animation-direction: alternate;

				-webkit-animation-name: move;
				-webkit-animation-duration: 1s;
				-webkit-animation-timing-function: ease-in-out;
				-webkit-animation-delay: 0.5s;
				-webkit-animation-iteration-count: 2;
				-webkit-animation-direction: alternate;
			}

		/* Animation Code part 1 */
				@keyframes move {
				   from {
				      transform: translateX(0);
				   }
				   to {
				      transform: translateX(100px);
				   }
				}

				@-moz-keyframes move {
				   from {
				      -moz-transform: translateX(0);
				   }
				   to {
				      -moz-transform: translateX(100px);
				   }
				}

				@-webkit-keyframes move {
				   from {
				      -webkit-transform: translateX(0);
				   }
				   to {
				      -webkit-transform: translateX(100px);
				   }
				}

		/* Slider Animation Cycle part 2 */
			#ItalySlider li.firstanimation {
			   animation: cycle 15s linear infinite;
			}

			#ItalySlider li.secondanimation {
			   animation: cycletwo 15s linear infinite;
			}

			#ItalySlider li.thirdanimation {
			   animation: cyclethree 15s linear infinite;
			}

			#ItalySlider li.fourthanimation {
			   animation: cyclefour 15s linear infinite;
			}

			#ItalySlider li.fifthanimation {
			   animation: cyclefive 15s linear infinite;
			}

			#ItalySlider li.sixthanimation {
			   animation: cyclesix 15s linear infinite;
			}

			#ItalySlider li.seventhanimation {
			   animation: cycleseven 15s linear infinite;
			}

			#ItalySlider li.eighthanimation {
			   animation: cycleeight 15s linear infinite;
			}

			#ItalySlider li.ninthanimation {
			   animation: cyclenine 15s linear infinite;
			}

		/* Animation Code part 3 */
			@keyframes cycle {
			   0%  { top: 0px; } /* When you start the slide, the first image is already visible */
			   4%  { top: 0px; } /* Original Position */
			   16% { top: 0px; opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image is visible */
			   20% { top: 325px; opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
			   21% { top: -325px; opacity: 0; z-index: -1; } /* Return to Original Position */
			   92% { top: -325px; opacity: 0; z-index: 0; }
			   96% { top: -325px; opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
			   100%{ top: 0px; opacity: 1; }
			}

			@keyframes cycletwo {
			   0%  { top: -325px; opacity: 0; } /* Original Position */
			   16% { top: -325px; opacity: 0; }/* Starts moving after 16% to this position */
			   20% { top: 0px; opacity: 1; }
			   24% { top: 0px; opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
			   36% { top: 0px; opacity: 1; z-index: 0; }   /* From 24% to 36 % = for 3 seconds the image is visible */
			   40% { top: 325px; opacity: 0; z-index: 0; } /* From 36% to 40% = for 1 second exit image */
			   41% { top: -325px; opacity: 0; z-index: -1; }   /* Return to Original Position */
			   100%{ top: -325px; opacity: 0; z-index: -1; }
			}

			@keyframes cyclethree {
			   0%  { top: -325px; opacity: 0; }
			   36% { top: -325px; opacity: 0; }
			   40% { top: 0px; opacity: 1; }
			   44% { top: 0px; opacity: 1; }
			   56% { top: 0px; opacity: 1; }
			   60% { top: 325px; opacity: 0; z-index: 0; }
			   61% { top: -325px; opacity: 0; z-index: -1; }
			   100%{ top: -325px; opacity: 0; z-index: -1; }
			}

			@keyframes cyclefour {
			   0%  { top: -325px; opacity: 0; }
			   56% { top: -325px; opacity: 0; }
			   60% { top: 0px; opacity: 1; }
			   64% { top: 0px; opacity: 1; }
			   76% { top: 0px; opacity: 1; z-index: 0; }
			   80% { top: 325px; opacity: 0; z-index: 0; }
			   81% { top: -325px; opacity: 0; z-index: -1; }
			   100%{ top: -325px; opacity: 0; z-index: -1; }
			}
			@keyframes cyclefive {
			   0%  { top: -325px; opacity: 0; }
			   76% { top: -325px; opacity: 0; }
			   80% { top: 0px; opacity: 1; }
			   84% { top: 0px; opacity: 1; }
			   96% { top: 0px; opacity: 1; z-index: 0; }
			   100%{ top: 325px; opacity: 0; z-index: 0; }
			}
			@keyframes cyclesix {
			   0%  { top: -325px; opacity: 0; }
			   76% { top: -325px; opacity: 0; }
			   80% { top: 0px; opacity: 1; }
			   84% { top: 0px; opacity: 1; }
			   96% { top: 0px; opacity: 1; z-index: 0; }
			   100%{ top: 325px; opacity: 0; z-index: 0; }
			}
			@keyframes cycleseven {
			   0%  { top: -325px; opacity: 0; }
			   76% { top: -325px; opacity: 0; }
			   80% { top: 0px; opacity: 1; }
			   84% { top: 0px; opacity: 1; }
			   96% { top: 0px; opacity: 1; z-index: 0; }
			   100%{ top: 325px; opacity: 0; z-index: 0; }
			}
			@keyframes cycleeight {
			   0%  { top: -325px; opacity: 0; }
			   76% { top: -325px; opacity: 0; }
			   80% { top: 0px; opacity: 1; }
			   84% { top: 0px; opacity: 1; }
			   96% { top: 0px; opacity: 1; z-index: 0; }
			   100%{ top: 325px; opacity: 0; z-index: 0; }
			}
			@keyframes cyclenine {
			   0%  { top: -325px; opacity: 0; }
			   76% { top: -325px; opacity: 0; }
			   80% { top: 0px; opacity: 1; }
			   84% { top: 0px; opacity: 1; }
			   96% { top: 0px; opacity: 1; z-index: 0; }
			   100%{ top: 325px; opacity: 0; z-index: 0; }
			}

/* Doodle styling */
	#tallImages {
		display: inline;
	}

/* Media query phone sized */
	@media (max-width: 700px) { 
		.carousel-caption {
			max-width: 70%;
		}
	}