/* About Me Styling */
	#aboutHolder img {
		margin-top: 0;
		width: 80%;
		position: relative;
		left: 10%;
	}

	/* number removal */
	#contactMeList {
		list-style: none;
		padding-left: 0;
	}

		#contactMeList a {
			text-decoration: underline;
			color: #5C6267;
		}
