/* Media query phone sized */
	@media (max-width: 700px) { 
		.carousel-caption {
			max-width: 70%;
		}

		.navbar-header {
			padding-bottom: 2em;
		}

		body {
			margin-top: 40%;
		}

			#jungleIconHolder {
				max-width: 15em;
				top: 40%;
				right: 80%;
			}

			#woodIconHolder {
				max-width: 18em;
				top: 40%;
				right: 15%;
			}

			#krogerIconHolder {
				max-width: 14em;
				bottom: 40%;
				right: 80%;
			}

			#universityIconHolder {
				max-width: 15em;
				top: 40%;
				right: 80%;
			}
	}