/* Project Styling Section */
	.projectImages {
		height: 10em;
		border-radius: 100%;
		position: relative;
		left: 20%;
	}

	.projectBlurb, .projectBlurb:hover {
		text-decoration: none;
		color: #5C6267;
		position: relative;
		left: 20%;
	}

	#mBastable {
		max-width: 10em;
		max-height: 10em;
		border-radius: 100%;
	}

	#beverage_butler {
		max-width: 10em;
		max-height: 10em;
		border-radius: 100%;
	}

	.fade {
    	opacity:1;
    }