/* Work Experience Styling */
	#jungleAnimateWrap, #woodAnimateWrap {
		height: 300%;
		min-height: 15em;
		border-radius: 1em;
		color: #2E3133;
		padding: 1em;
		margin: 1em;
		border: 0;
		/* How pronounced should the 3D effects be */
			perspective: 800px;
			-webkit-perspective: 800px;
	}

		#jungleIconHolder, #woodIconHolder {
			color: #2e3133;
			padding: .2em;
			position: absolute;
		}
			#jungleIconHolder {
				max-height: 6em;
				bottom: 25%;
				left: 15%;

			}

			#woodIconHolder {
				max-height: 5em;
				bottom: 30%;
				left: 9%;
			}

			#jungleIconHolder, #jungleBack, 
			#woodIconHolder, #woodBack {
				/* Enable 3D transforms */
					transform-style: preserve-3d;
					-webkit-transform-style: preserve-3d;

				/* We are using two separate divs for the front and back of the
				   phone. This will hide the divs when they are flipped, so that the
				   opposite side can be seen:  */
					backface-visibility: hidden;
					-webkit-backface-visibility: hidden;

				/* Animate the transitions */
					transition:0.8s;
			}

			#jungleBack, #woodBack {
				/* The back side is flipped 180 deg by default */
				transform:rotateY(180deg);
				-webkit-transform:rotateY(180deg);

				background-position:right center;
			}

			#jungleAnimateWrap:hover #jungleIconHolder, 
			#woodAnimateWrap:hover #woodIconHolder {
				/* When the container is hovered, flip the front side and hide it .. */
				transform:rotateY(180deg);
				-webkit-transform:rotateY(180deg);
			}

			#jungleAnimateWrap:hover #jungleBack, 
			#woodAnimateWrap:hover #woodBack {
				/* .. at the same time flip the back side into visibility */
				transform:rotateY(360deg);
				-webkit-transform:rotateY(360deg);
			}


		.workContainer h3, .workContainer p {
			font-size: 125%;
			max-width: 80%;
	   		position: relative;
	   		left: 10%;
		}

		.fade {
	    	opacity:1;
	    }