/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Header Font */
@import url('http://fonts.googleapis.com/css?family=Ubuntu');

/* Body Font */
@import url('http://fonts.googleapis.com/css?family=Lora');


/*header stylesheet*/
	.container-fluid > #navBar {
		margin-top: 0em;
	}
	.breadcrumb {
		background-color: lightblue;
		height: 3.3em;
		width: 100%;
		margin-top: 0;
		text-align: center;
		position: fixed;
		border-color: green;
		border-bottom: solid white;
		border-width: 2px;
		z-index: 1;
	}

	/* nav bar font styling */
	.breadcrumb > a {
		color: white;
		font-family: 'Alegreya Sans', sans-serif;
		font-size: 100%;
		text-decoration: none;
	}

	/* nav bar links */
	.breadcrumb > a > li {
		border-color: white;
		border-style: solid;
		border-radius: 1em;
		border-width: 1px;
		padding: .5em;
		margin: .2em;
		position: relative;
		top: 1em;
		-moz-transition: all .4s ease-in;
	    -o-transition: all .4s ease-in;
	    -webkit-transition: all .2s ease-in;
	    transition: all .4s ease-in;
	}

	/* hovering over link link */
	.breadcrumb > a > li:hover {
		background-color: #3333CC;
	}

	/* visited link */
	.breadcrumb > a > li:visited {
	    color: white;
	}

	/* General body styling */
	body {
		background-image: url("images/skybg.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		margin: 0;
		z-index: -10;
	}

	li {
		display: inline;
		list-style: none;

	}

	h3 {
		font-family: 'Ubuntu', sans-serif;
	}

	p {
		font-family: 'Lora', serif;
	}

	/* About Me styling */

	#aboutMe {
		background-color: #FF8080;
		background-size: cover;
		padding: 2em;
	}

	#aboutMe > #headShot {
		height: 10em;
		width: 10em;
		content:url("images/headshot.jpg");
		background-color: #FF8080;
		border-color: white;
		border-style: solid;
		border-radius: 5em;
		border-width: 3px;
		position: relative;
		top: 3em;
		left: 35em;
	}​


	#aboutMe > .aboutContent {
	
	}

	/* Contact Me styling */
	#contactMe {
		padding: 2em;
		background-color: #FF4D4D;
		background-size: cover;
	}

	#contactMe > #characterEnvelope {
		font-size: 15em;
		display: inline;
		position: relative;
		left: 30%;
	}

	#contactMe > .contactContent {
		display: inline-block;
		position: relative;
		left: 23%;
	}

	#contactMe > #categoryHeader {
		position: relative;
		bottom: 10em;
		left: 35%
	}
	/* Programming Projects styling */
	#projects {
		padding: 2em;
		background-color: #FF1919;
		background-size: cover;
	}

	/* Work Experience styling */
	#workExp {
		padding: 2em;
		background-color: #E60000;
		background-size: cover;
	}

	/* Travel styling */
	#travel {
		padding: 2em;
		background-color: #B20000;
		background-size: cover;
	}

	/* Art Portfolio styling */
	#artPortfolio {
		padding: 2em;
		background-color: #800000;
		background-size: cover;
	}