<!DOCTYPE HTML>
<html>
	<head>
		<title>C. Regensburger</title>
		<%= render 'layouts/header' %>
	</head>
	<body>
	<div id="datBody">
		<div id="contactMe">
			<h3 id="categoryHeader">Contact Me</h3>
			<p>Name</p>
			<p>Email</p>
			<p>Phone</p>
			<p>Address</p>
			<p>Github link</p>
		</div>
		<div id="aboutMe">
			<h3>About Me</h3>
			<p>Personal description</p>
		</div>
		<div id="projects">
			<h3>Programming Projects</h3>
			<p>Overview of General Assembly</p>
			<p>Tic Tac Toe</p>
			<p>App-Etite</p>
			<p>Hangman</p>
			<p>(If available include information such as: descriptor, github link, weblink, dribbble, user stories, and partner website links.)</p>
		</div>
		<div id="workExp">
			<h3>Work Experience</h3>
			<p>Jungle Jim's</p>
			<p>Wood & Lamping</p>
			<p>Kroger, Inc.</p>
			<p>University of Dayton</p>
		</div>
		<div id="travel">
			<h3>International Travel</h3>
			<p>Italy - Study Abroad</p>
			<p>Spain - Lone Travel</p>
			<p>Germany (twice)</p>
		</div>
		<div id="artPortfolio">
			<h3>Art Portfolio</h3>
			<p>Digital</p>
			<p>Traditional</p>
		</div>
	</body>
	</div>
	<footer>
		<%= render 'layouts/footer' %>
	</footer>
</html>