<!DOCTYPE HTML>
<head>
	<title>Mammoth Games</title>
      <%= stylesheet_link_tag    "welcome.scss" %>
</head>

<body>
	<%= render 'layouts/header' %>
	<br>
	<div id="bodyContent">placeholder</div>
</body>

<footer>
	<%= render 'layouts/footer' %>
</footer>
