body { 
	padding-top: 0em; 
	margin-left: 0em;
	margin-right: 0em;
}

#navBar {
	margin-top: 0em;
}
.breadcrumb {
	list-style: none;
	background-color: lightblue;
	height: 3.3em;
	width: 100%;
	margin-top: 0;
	text-align: center;
	position: fixed;
}

.breadcrumb > a > li {
	display: inline;
	border-color: white;
	border-style: solid;
	border-radius: .5em;
	border-width: 1px;
	padding: .5em;
	position: relative;
	top: 1em;
}

.breadcrumb > a {
	text-decoration: none;
	color: white;
	font-family: 'Alegreya Sans', sans-serif;
}