<%= stylesheet_link_tag    "header.scss" %>
<nav id="navBar" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
  	<ol class="breadcrumb">
	  <a href="#" class="hvr-pulse-grow"><li>Contact Me</li></a>
	  <a href="#" class="button hvr-grow"><li>About Me</li></a>
	  <a href="#" class="button hvr-grow"><li>Programming</li></a>
	  <a href="#" class="button hvr-grow"><li>Work Experience</li></a>
	  <a href="#" class="button hvr-grow"><li>Travel</li></a>
	  <a href="#" class="button hvr-grow"><li>Art Portfolio</li></a>
	</ol>
  </div>
</nav>
